body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* main */
section:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #eee;
  height: 70vh;
  min-height: 50vh;
  background-image: url(./../img/film.gif);
  background-repeat: no-repeat;
  background-size: cover;

}

section:nth-child(1) h1 {
  margin: 0;
  border-bottom: 2px solid #f60;
  padding: 0 0 5px 0;
}

section:first-child button {
  background-color: #f60;
  padding: 10px 20px;
  border: 1px solid #0003;
  border-radius: 3px;
  cursor: pointer;
}

section {
  padding: 0 20%;
}

.last-films {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 20%;
}
.last-films > h2 {
  text-align: center;
}
.last-films > article > img {
  width: 200px;
  height: 200px;
}
.last-films > article {
  display: flex;
  align-items: center;
  padding: 30px 0;
}

.last-films > article > div {
  left: 30px;
  position: relative;
}

.last-films > article > div > h2 {
  color: #f60;
  font-size: 2em;
  border-bottom: 1px solid #3331;
}

.last-films > article > div > p {
  font-size: 1.3em;
}